
.container-narrow {
  .content-styles();

  max-width: 820px;
  min-width: 400px;
  margin: 20px auto;
}

.col1 {
  width: 200px;
  float: left;
  margin-left: 20px;
}

.thanpolas-photo img {
}

.col2 {
  float: none;
  margin-left: 280px;
}

.masthead {
  .thanpolas-photo {

  }
  .thanpolas-fullname {
    padding-top: 33px;
  }
  h1 {
    margin: 0;
    text-align: left;
    font-family: @fontTitillium;
    font-weight: normal;
    font-size: 320%;
    line-height: 46px;
    color: #555;
    small {
      display: block;
      font-size: 21px;
      line-height: 2;
    }
  }
  ul {
    li {
    }
  }
}

.front-content {
  margin-top: 60px;
  .social-unit {
    display: inline-block;
    margin: auto;
  }

  .col1 {
    text-align: center;
  }
}

.col2.posts {
  margin-top: 60px;
}

.social-unit {
  ul {
  }
  li {
  }
  li a {
    color: #999;
  }
}

.post_lists {
}