/**
 * Styles for thanpol.as
 */

@import "../bootstrap/less/bootstrap.less";

.container-narrow {
  max-width: 770px;
  margin: 0 auto;
}
.masthead {
  margin-top: 40px;
  padding: 20px;
  .border-radius(6px);
  background-color: #F5F5F5;
}

.masthead h1 {
  text-align: right;
  font-size: 400%;
}

.masthead h2 {
  text-align: right;
}

.masthead ul {
  margin-top: 120px;
}

.masthead li {
  float: left;
  margin-left: 6px;
}

.social-unit {
  margin-top: 40px;
}

.social-unit li {
  float: left;
  margin-left: 8px;
}