

.project-unit {

  h3 {
    margin: 5px 0 10px 0;
    line-height: (@baseLineHeight / 2);

    a{
      color: @headingsColor;
      font-size: 19px;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .code-pills {
    display: block;
    margin: 0;
    margin-bottom: 5px;
    .clearfix();
    li {
      float: left;
      line-height: 17px;
      list-style: none;
      margin-right: 5px;
      margin-top: 5px;

      font-family: @monoFontFamily;
      font-size: 10px;
      padding: 1px 6px 0 6px;

      border: 2px solid @gray; // fallback for IE7-8
      border: 2px solid rgba(0,0,0,.55);
      .border-radius(@baseBorderRadius);
      .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");
    }

    .javascript {background-color: #F0DB4F;}
    .node-js {background-color: #8CC84B;}
    .closure-library {background-color: #366CEF; color: #fff;}
    .sublime2 {background-color: #272822; color: #fff;}
    .perl {background-color: #004065; color: #fff;}
    .grunt {background-color: #FBA919;}
    .python {background-color: #ffc634;}
    .titanium {background-color: #A80012; color: #fff;}
    .ios {background-color: #000; color: #fff; }
  }

  p {
    font-size: 12px;
    text-align: left;
    line-height: 17.5px;
    a:first-child {padding-right: 5px;}
  }
}