


@baseFontSize: 16px;
@em: @baseFontSize*1em;  // Shorthand for outputting ems, e.g. "12/@em"
@baseLineHeight: (16*20)/14px; // ~22.85

// currently from :http://www.colourlovers.com/palette/199192/Bulcom
@colorTopBar: #E42200;
@colorH1: #E50000;
@colorH2: #E50000;
@color-header: #fff;
@color-highlight: #fff04a;
@highlight-bg: #0d0d0d;
//@footer-bg: url('@{noise-100-90-5}') repeat 0 0 @subtle;

@highlight-selection-bg: #ff0000;

/**
 * Backgrounds
 *
 */
@bg-body: #F5F5F5;
@bg-the-program-header: url('/assets/themes/thanpolas/img/100-90-5-monochrome.png') repeat 0 0 #E2E2DE; // http://noisepng.com/
@bg-whitepaper: url('/assets/site-img/white_wall/white_wall.png') repeat 0 0;
@bg-footer: url('/assets/themes/thanpolas/img/footer-bg.gif') repeat 0 0 #2B2B2B;
@bg-header: url('/assets/themes/thanpolas/img/header-bg.png') repeat 0 0 #1B1B1B;
@bg-frontpage-blocks: #FFF;

/**
 * Dimentions
 *
 */
@header-height: 200px;