


@baseFontSize: 16px;
@em: @baseFontSize*1em;  // Shorthand for outputting ems, e.g. "12/@em"
@baseLineHeight: (16*20)/14px; // ~22.85

// currently from :http://www.colourlovers.com/palette/199192/Bulcom
@linkColor: #05349E;
@linkColorHover: #042E8D;

@colorH1: #E50000;
@colorH2: #E50000;
@color-header: #fff;
@color-highlight: #fff04a;
@color-linenos: #8F908A;
//@footer-bg: url('@{noise-100-90-5}') repeat 0 0 @subtle;

@highlight-selection-bg: #ff0000;

/**
 * Backgrounds
 *
 */
@bg-the-program-header: url('/assets/themes/thanpolas/img/100-90-5-monochrome.png') repeat 0 0 #E2E2DE; // http://noisepng.com/
@bg-whitepaper: url('/assets/site-img/white_wall/white_wall.png') repeat 0 0;
@bg-footer: url('/assets/themes/thanpolas/img/footer-bg.gif') repeat 0 0 #2B2B2B;
@bg-header: url('/assets/themes/thanpolas/img/header-bg.png') repeat 0 0 #1B1B1B;
@bg-checkers-pattern: url('/assets/img/patterns/pattern-chronicl.png') repeat 0 0;

@bg-body: @bg-checkers-pattern #F5F5F5;

@bg-frontpage-blocks: #FFF;
@bg-codeblock: #272822; // sublime bg

@socialIconSpritePath: "../img/social-white.png";

//
// Dimensions
//
//
@header-height: 200px;