---
layout: page
title: "Projects / Work"

projects:
  - title: 'CIP'
    name: 'CIP'
    url: 'https://github.com/thanpolas/cip'
    techs: [Node.js]
    descr: CIP is Classical Inheritance at its best. It provides an easy to work with API for performing classical inheritance in Javascript. It features a powerfull and flexible <code>extend()</code> method that allows custom constructors and <a href="https://github.com/thanpolas/cip/#argument-stubbing-with-extend" title="CIP Argument Stubbing">argument stubbing</a> which enables to pass stubbed arguments to the parent constructor. CIP is a foundational building block.

  - title: 'Middlewarify'
    name: 'Middlewarify'
    url: 'https://github.com/thanpolas/middlewarify'
    techs: [Node.js, Promises/A+]
    descr: Middlewarify will apply the middleware pattern to your Objects. It will enable you to attach middleware using the typical <code>use()</code> method or use <code>before() / after()</code> hooks. Middlewarify uses the Promises/A+ spec for resolution and handling asynchronicity.

  - title: 'Kansas'
    name: 'Kansas'
    url: 'https://github.com/thanpolas/kansas'
    techs: [Node.js, redis]
    descr: Kansas is a usage limited API controller. It will consumer API Units based on a token for the resources you have chosen. If the usage limit is reached with the given period (one month) all further calls will be rejected. Kansas was built on Redis and there's an <a href="https://github.com/thanpolas/kansas-express" title="Kansas Express">express module (kansas-express)</a> that will enable fast integration with your services.

  - title: 'Kansas Express'
    name: 'Kansas Express'
    url: 'https://github.com/thanpolas/kansas-express'
    techs: [Node.js, Express.js]
    descr: Kansas-express is the Kansas Express module that exposes a RESTfull API for managing tokens and consuming your API resources.

  - title: 'Idify'
    name: 'Idify'
    url: 'https://github.com/thanpolas/idify'
    techs: [Node.js, redis]
    descr: Idify will provide you with a guaranteed unique id using the powerfull and very fast Redis SET data structure.

  - title: 'Entity'
    name: 'Entity'
    url: 'https://github.com/thanpolas/entity'
    techs: [Node.js]
    descr: Entity is a new application design concept, it abstracts the storage layer from the business logic and manages all the resources needed to perform operations.

  - title: 'Kickq'
    name: 'Kickq'
    url: 'https://github.com/verbling/kickq'
    techs: [Node.js, redis]
    descr: 'is a Job Queuing system for Node.js built on top of <a href="http://redis.io" title="Redis database">Redis</a>. It features reliable and fast handling of Jobs, delayed execution and an option for the Job Creator to get notified on the spot if the Job completes.'

  - title: 'Assetflow'
    name: 'Assetflow'
    url: 'https://github.com/verbling/assetflow'
    techs: [Node.js, AWS S3, Grunt]
    descr: 'is an asset deployment tool ala Rails Asset Pipeline. It supports md5 hash comparison with S3 and enables you to create powerful asset flows easily and fast. It is a Grunt task and applies solid cache-busting techniques transparently.'

  - title: 'Mantri'
    name: 'Mantri'
    url: 'http://mantrijs.com'
    techs: [Javascript, Closure Library, Grunt, CLI]
    descr: |
      is a Dependency Management System for medium to large web applications. It wraps around and exposes the powerfull <a href="https://developers.google.com/closure/" title="Google Closure Tools">Google Closure Tools</a>, the same tools used by most of Google's web assets.

  - title: 'closureplease.com'
    name: 'closureplease.com'
    url: 'http://closureplease.com'
    techs: [HTML5, CSS3, Docpad]
    descr: |
      is a community based resource for the Closure Library. It's purpose is to lower the barrier to entry for Google's Closure Library and provide a complete list of resources, articles and presentations about CL.

  - title: 'Generator Closure'
    name: 'Generator Closure'
    url: 'https://github.com/closureplease/generator-closure'
    techs: [Yeoman]
    descr: |
      creates a fully working Closure Library project in seconds. A setup that required days to build can now be available using a shell command. Built on top of Yeoman's Generator System <a href="https://github.com/yeoman/generator/" title="Yeoman Generator">yo</a>.

  - title: 'Superstartup'
    name: 'Superstartup'
    url: 'https://github.com/thanpolas/superstartup'
    techs: [Javascript, node.js, Closure Library]
    descr: 'is a work in progress. It offers a modular frontend solution by providing the essential services and tools every startup needs, <i>user authentication</i>, <i>metrics</i> and <i>social tools</i>.'

  - title: 'Grunt Closure Tools'
    name: 'Grunt Closure Tools'
    url: 'https://github.com/thanpolas/grunt-closure-tools'
    techs: [Javascript, Grunt, node.js, Closure Library]
    descr: |
      for <a href="http://gruntjs.com/">Grunt</a> is a superset of the  tools provided by the Google Closure Library. The powerful compiler, the builder and the dependency writer.

  - title: Profy
    name: Profy
    url: https://github.com/thanpolas/profy
    techs: [Node.js, Javascript]
    descr: |
       is a performance measurement library that enables stress testing any application. It provides a meaningful set of stats that you can assert on using your favorite testing suite.

  - title: 'ready.js'
    name: 'ready.js'
    url: 'https://github.com/thanpolas/ready.js'
    techs: [Javascript, node.js, Closure Library]
    descr: 'Monitors the progress and completion state of multiple concurrent asynchronous operations. It runs in the browser and node.js'

  - title: 'server2js'
    name: 'Server to JS'
    url: 'https://github.com/thanpolas/server2js'
    techs: [Javascript, node.js, Closure Library]
    descr: 'send arbitrary data objects from the server to the client on page load time, synchronously.'

  - title: 'sublime-autoDocBlockr'
    name: 'autoDocBlockr'
    url: 'https://github.com/thanpolas/sublime-autoDocBlockr'
    techs: [sublime2, python]
    descr: 'is a plugin for the Sublime2 editor, it will insert Document Blocks automatically. It is triggered seamlessly as you move your cursor through a function...'

  - title: Closure Helpers
    name: closure-helpers
    url: https://github.com/closureplease/closure-helpers
    techs: [Javascript, Closure Library]
    descr: |
       is a set of helping functions for Closure Library projects.

  - title: Closure Compiler
    name: Superstartup Closure Compiler
    url: https://github.com/closureplease/superstartup-closure-compiler
    techs: [Closure Library, Java]
    descr: |
       is a <em>rigged</em> compiler that strips all debug logging messages from the final output. It is available through NPM so it can easily be integrated in any project that requires it.

  - title: Closure Structs
    name: Closure Structs
    url: https://github.com/closureplease/closure-structscompiler
    techs: [Javascript, Closure Library]
    descr: |
       is an extension of the struct libraries that Closure Library provides. They add some syntactic sugar and emit events whenever a value changes.


---
{% include JB/setup %}
<div class="row">
{% for project in page.projects %}
  {% capture rowIter %}{% cycle 1, 2, 3 %}{% endcapture %}
  <div class="col-md-4 project-unit">
    <h3><a href="{{project.url}}">{{project.title}}</a></h3>
    <ul class="code-pills">
      {% for tech in project.techs %}
        <li class="{{tech | downcase | replace: ' ', '-' | replace: '.', '-'}}">{{tech}}</li>
      {% endfor %}
    </ul>
    <p><a href="{{project.url}}">{{project.name}}</a>{{project.descr}}</p>
  </div>
  {% if '3' == rowIter %}
</div>
<div class="row">
  {% endif %}

{% endfor %}
</div>
