---
layout: page
title: "Projects / Work"

projects:
  - title: 'Kickq'
    name: 'Kickq'
    url: 'https://github.com/verbling/kickq'
    techs: [node.js, Javascript, redis]
    descr: 'is a Job Queuing system for Node.js built on top of <a href="http://redis.io" title="Redis database">Redis</a>. It features reliable and fast handling of Jobs, delayed execution and an option for the Job Creator to get notified on the spot if the Job completes.'

  - title: 'Assetflow'
    name: 'Assetflow'
    url: 'https://github.com/verbling/assetflow'
    techs: [node.js, Javascript, AWS S3, Grunt]
    descr: 'is an asset deployment tool ala Rails Asset Pipeline. It supports md5 hash comparison with S3 and enables you to create powerful asset flows easily and fast. It is a Grunt task and applies solid cache-busting techniques transparently.'

  - title: 'Mantri'
    name: 'Mantri'
    url: 'http://mantrijs.com'
    techs: [Javascript, Closure Library, Grunt, CLI]
    descr: |
      is a Dependency Management System for medium to large web applications. It wraps around and exposes the powerfull <a href="https://developers.google.com/closure/" title="Google Closure Tools">Google Closure Tools</a>, the same tools used by most of Google's web assets.

  - title: 'closureplease.com'
    name: 'closureplease.com'
    url: 'http://closureplease.com'
    techs: [HTML5, CSS3, Docpad]
    descr: |
      is a community based resource for the Closure Library. It's purpose is to lower the barrier to entry for Google's Closure Library and provide a complete list of resources, articles and presentations about CL.

  - title: 'Generator Closure'
    name: 'Generator Closure'
    url: 'https://github.com/closureplease/generator-closure'
    techs: [Yeoman]
    descr: |
      creates a fully working Closure Library project in seconds. A setup that required days to build can now be available using a shell command. Built on top of Yeoman's Generator System <a href="https://github.com/yeoman/generator/" title="Yeoman Generator">yo</a>.

  - title: 'Superstartup'
    name: 'Superstartup'
    url: 'https://github.com/thanpolas/superstartup'
    techs: [Javascript, node.js, Closure Library]
    descr: 'is a work in progress. It offers a modular frontend solution by providing the essential services and tools every startup needs, <i>user authentication</i>, <i>metrics</i> and <i>social tools</i>.'

  - title: 'Grunt Closure Tools'
    name: 'Grunt Closure Tools'
    url: 'https://github.com/thanpolas/grunt-closure-tools'
    techs: [Javascript, Grunt, node.js, Closure Library]
    descr: |
      for <a href="http://gruntjs.com/">Grunt</a> is a superset of the  tools provided by the Google Closure Library. The powerful compiler, the builder and the dependency writer.

  - title: Profy
    name: Profy
    url: https://github.com/thanpolas/profy
    techs: [Node.js, Javascript]
    descr: |
       is a performance measurement library that enables stress testing any application. It provides a meaningful set of stats that you can assert on using your favorite testing suite.

  - title: 'ready.js'
    name: 'ready.js'
    url: 'https://github.com/thanpolas/ready.js'
    techs: [Javascript, node.js, Closure Library]
    descr: 'Monitors the progress and completion state of multiple concurrent asynchronous operations. It runs in the browser and node.js'

  - title: 'server2js'
    name: 'Server to JS'
    url: 'https://github.com/thanpolas/server2js'
    techs: [Javascript, node.js, Closure Library]
    descr: 'send arbitrary data objects from the server to the client on page load time, synchronously.'

  - title: 'sublime-autoDocBlockr'
    name: 'autoDocBlockr'
    url: 'https://github.com/thanpolas/sublime-autoDocBlockr'
    techs: [sublime2, python]
    descr: 'is a plugin for the Sublime2 editor, it will insert Document Blocks automatically. It is triggered seamlessly as you move your cursor through a function...'

  - title: 'Geowarp Mobile App'
    name: 'Geowarp Mobile'
    url: 'https://itunes.apple.com/us/app/geowarp/id398624102?mt=8'
    techs: [Javascript, Titanium, iOS]
    descr: |
      is the mobile application of <a href="http://geowarp.com">Geowarp</a>, built with <a href="http://www.appcelerator.com/">Appcelerator's</a> <a href="http://www.appcelerator.com/platform/titanium-sdk">Titanium</a> using the same Javascript core that is running on the current website.

  - title: PPH Metrics
    name: Metrics
    url: http://peopleperhour.com
    techs: [Javascript, PHP, AWS DynamoDB]
    descr: |
       facilities for peopleperhour.com (PPH) was an exciting project I engineered and implemented. Created an API for tracking and storing custom information for every visitor of the site. The system uses Amazon's <a href="http://aws.amazon.com/dynamodb/">DynamoDB</a>.

  - title: Closure Helpers
    name: closure-helpers
    url: https://github.com/closureplease/closure-helpers
    techs: [Javascript, Closure Library]
    descr: |
       is a set of helping functions for Closure Library projects.

  - title: Closure Compiler
    name: Superstartup Closure Compiler
    url: https://github.com/closureplease/superstartup-closure-compiler
    techs: [Closure Library, Java]
    descr: |
       is a <em>rigged</em> compiler that strips all debug logging messages from the final output. It is available through NPM so it can easily be integrated in any project that requires it.

  - title: Closure Structs
    name: Closure Structs
    url: https://github.com/closureplease/closure-structscompiler
    techs: [Javascript, Closure Library]
    descr: |
       is an extension of the struct libraries that Closure Library provides. They add some syntactic sugar and emit events whenever a value changes.


---
{% include JB/setup %}
<div class="row-fluid">
{% for project in page.projects %}
  {% capture rowIter %}{% cycle 1, 2, 3 %}{% endcapture %}
  <div class="span4 project-unit">
    <h3><a href="{{project.url}}">{{project.title}}</a></h3>
    <ul class="code-pills">
      {% for tech in project.techs %}
        <li class="{{tech | downcase | replace: ' ', '-' | replace: '.', '-'}}">{{tech}}</li>
      {% endfor %}
    </ul>
    <p><a href="{{project.url}}">{{project.name}}</a>{{project.descr}}</p>
  </div>
  {% if '3' == rowIter %}
</div>
<div class="row-fluid">
  {% endif %}

{% endfor %}
</div>
