
<div class="row" >
<div class="col-md-9 about-me">
  {{ content }}
</div>
<div class="col-md-2 col-md-offset-1 thanpolas-social">
  <h3>Social me</h3>
    <ul class="social-unit list-unstyled">
      <li><a title="thanpolas at github" href="https://github.com/thanpolas" target="_blank"><i class="social-base social-github fa fa-github" aria-hidden="true"></i><span>Github</span></a></li>
      <li><a title="thanpolas at linkedIn" href="http://www.linkedin.com/in/thanpolas" target="_blank"><i class="social-base social-linkedin fa fa-linkedin"></i><span>Linkedin</span></a></li>
      <li><a title="thanpolas at twitter" href="http://www.twitter.com/thanpolas" target="_blank"><i class="social-base social-twitter fa fa-twitter"></i><span>Twitter</span></a></li>
      <li><a title="thanpolas at facebook" href="http://www.facebook.com/thanpolas" target="_blank"><i class="social-base social-facebook fa fa-facebook"></i><span>Facebook</span></a></li>
      <li><a title="thanpolas at Google+" rel="author" href="http://plus.google.com/103401575402356389020?rel=author" target="_blank"><i class="social-base social-google fa fa-google-plus"></i><span>Google+</span></a></li>
      <li><a title="thanpolas at gmail.com" href="mailto:thanpolas@gmail.com" target="_blank"><i class="social-base social-email fa fa-envelope"></i><span>e-mail</span></a></li>
      <li><a title="thanpolas at speakerdeck" href="https://speakerdeck.com/thanpolas" target="_blank"><i class="social-base social-slideshare fa fa-slideshare"></i><span>Slideshare</span></a></li>
    </ul>
  </div>
</div>
