
<div class="row-fluid" >
<div class="span9 about-me">
  {{ content }}
</div>
<div class="span2 offset1 thanpolas-social">
  <h3>Social me</h3>
    <ul class="social-unit unstyled">
      <li><a title="thanpolas at github" href="https://github.com/thanpolas" target="_blank"><i class="social-icon-github"></i><span>Github</span></a></li>
      <li><a title="thanpolas at linkedIn" href="http://www.linkedin.com/in/thanpolas" target="_blank"><i class="social-icon-linkedin"></i><span>Linkedin</span></a></li>
      <li><a title="thanpolas at twitter" href="http://www.twitter.com/thanpolas" target="_blank"><i class="social-icon-twitter"></i><span>Twitter</span></a></li>
      <li><a title="thanpolas at facebook" href="http://www.facebook.com/thanpolas" target="_blank"><i class="social-icon-facebook"></i><span>Facebook</span></a></li>
      <li><a title="thanpolas at Google+" href="http://plus.google.com/116048937566852906915/" target="_blank"><i class="social-icon-google"></i><span>Google+</span></a></li>
      <li><a title="thanpolas at gmail.com" href="mailto:thanpolas@gmail.com" target="_blank"><i class="social-icon-email"></i><span>e-mail</span></a></li>
      <li><a title="thanpolas at slideshare" href="http://www.slideshare.net/thanpolas/presentations" target="_blank"><i class="social-icon-slideshare"></i><span>Slideshare</span></a></li>
    </ul>
  </div>
</div>