<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-144x144-precomposed.png">

    <link href="{{ ASSET_PATH }}/css/tpstyle.css" rel="stylesheet" type="text/css" media="all">

    <script src="{{ BASE_PATH }}/assets/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>

  <body>
    {{ content }}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.1.8.0.min.js"><\/script>')</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
    <script>window._ || document.write('<script src="/assets/js/vendor/underscore.min.js"><\/script>')</script>
    <script src="{{ BASE_PATH }}/assets/js/vendor/jqParallax.js"></script>
    <script src="{{ BASE_PATH }}/assets/js/thanpol.as.js"></script>
    {% include JB/analytics %}
  </body>
</html>
