<div class="container-fluid">
  <header class="row header-master">
    <div class="col-md-12">
      <div class="row header-unit">
        <div class="col-md-10 col-md-offset-1 header-unit-inner">
          <div class="row">
            <div class="col-md-5 content-gutter-left">
              <h1 class="site-title">
                <a class="site-title-name" href="{{ HOME_PATH }}">thanpolas</a>
                <small class="no-wrap"><span class="doubleslash js-lolipop-font">//</span> web development as it happens</small>
              </h1>
            </div>
            <div class="col-md-7 header-nav content-gutter-right">
              <ul class="polas-nav">
                <li><a href="/blog">blog</a></li>
                <li><a href="/projects">projects</a></li>
                <li><a href="/about">about</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{ content }}

  <footer class="row footer-master">
    <div class="col-md-10 col-md-offset-1">
      <div class="row footer-unit">
         <div class="col-md-8 footer-copyright content-gutter-left">Enjoy an open web under <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0</a>.</div>
         <div class="col-md-4 footer-social content-gutter-right">
            <ul class="social-unit list-unstyled list-inline">
              <li><a title="this blog at feedburner" href="http://feeds.feedburner.com/thanpolas-tech" target="_blank"><i class="social-icon-rss"></i></a></li>
              <li><a title="thanpolas at github" href="https://github.com/thanpolas" target="_blank"><i class="social-icon-github"></i></a></li>
              <li><a title="thanpolas at Google+" rel="author" href="http://plus.google.com/103401575402356389020?rel=author" target="_blank"><i class="social-icon-google"></i></a></li>
              <li><a title="thanpolas at twitter" href="http://www.twitter.com/thanpolas" target="_blank"><i class="social-icon-twitter"></i></a></li>
              <li><a title="thanpolas at gmail.com" href="mailto:thanpolas@gmail.com" target="_blank"><i class="social-icon-email"></i></a></li>
            </ul>
         </div>
      </div>
      <div class="row">
        <div class="col-md-12 footer-note content-gutter-left "><small>This space intentionally left blank.</small></div>
      </div>
    </div>
  </footer>
</div>
