<header class="row-fluid header-master">
  <div class="span12">
    <div class="row-fluid header-unit">
      <div class="span10 offset1 header-unit-inner">
        <div class="row-fluid">
          <div class="span5 content__head">
            <h1 class="site-title"><a class="site-title-name" href="{{ HOME_PATH }}">{{ site.title }}</a><small class="no-wrap">Freelance Web Developer</small></h1>
          </div>
          <div class="span7 site-description content__head">
            <h2 class="site-description-title">
              <span class="doubleslash lolipop-font">//</span> web development as it happens
            </h2></div>
        </div>
      </div>
    </div>
  </div>
</header>

{{ content }}

<footer>
</footer>
